.pacman>div:nth-child(3),
.pacman>div:nth-child(4),
.pacman>div:nth-child(5),
.pacman>div:nth-child(6) {
    background-color: #fc605a;
}

.pacman>div:first-of-type {
    width: 0px;
    height: 0px;
    border-right: 25px solid transparent;
    border-top: 25px solid #fc605a;
    border-left: 25px solid #fc605a;
    border-bottom: 25px solid #fc605a;
}

.pacman>div:nth-child(2) {
    width: 0px;
    height: 0px;
    border-right: 25px solid transparent;
    border-top: 25px solid #fc605a;
    border-left: 25px solid #fc605a;
    border-bottom: 25px solid #fc605a;
}

.loading-warp {
    display: table;
    width: 100%;
    margin-top: -2.8rem;
}

.loading-warp .box {
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.loading-warp .box img {
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    margin: 0 auto;
}

.loading-warp .box .text {
    display: block;
    text-align: center;
    font-size: 0.26rem;
    line-height: 0.5rem;
    opacity: 0.7;
    margin-top: 0.7rem;
}

.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 50;
}

.loading .loader {
    position: absolute;
    top: 50%;
    left: 50%;
}

.loader-chanage {
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -ms-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
    opacity: 0;
}